
@media (min-width: 576px) { 
    body {
        width: 500px;
        margin: auto;
    }
}


@media (min-width: 768px) { 
    
}


@media (min-width: 992px) { 
    body {
        width: 800px;

        > section {
            &:first-of-type {
                margin-top: 10px;
                height: 400px;
            }

            &:last-of-type {
                padding: 0px 20px;
                grid-template-columns: 1fr 1fr 0.5fr 1fr;

                section {
                    &:nth-of-type(1) {
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }

                    &:nth-of-type(2) {
                        grid-column-start: 2;
                        
                        label {
                            bottom: 60px;
                        }
                    }

                    &:nth-of-type(3) {
                        grid-column-start: 3;

                        /* Bron: https://stackoverflow.com/questions/15935837/how-to-display-a-range-input-slider-vertically */
                        input { 
                            transform: rotate(270deg);
                            width: 130px;
                        }
                    }

                    &:nth-of-type(4) {
                        grid-column-start: 4;
                    }
                }
            }
        }
    }
}


@media (min-width: 1200px) { 
    
}


@media (min-width: 1400px) { 
    
}