@import "./variables.css";
@import "./screen.css";
@import "./controls.css";
@import "./breakpoints.css";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Concert One", sans-serif;
    padding: 20px;
}

h1 {
    font-size: 67px;
    text-align: center;
}

/* Visually-hidden */
h2, h3 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}




