body {
    > section {
        &:first-of-type {
            position: relative;
            border: 4px solid var(--black);
            border-radius: 20px;
            height: 440px;
            margin: 20px -10px;

            section {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 248px;
                height: 440px;

                /* Clothes */
                &:nth-of-type(1) {
                    position: absolute;
                    height: 100%;
                    z-index: 2;

                    div {
                        background-image: url("");
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 100%;
            
                    }
                }

                /* Face */
                &:nth-of-type(2) {
                    position: absolute;
                    height: 100%;
                    z-index: 1;

                    div {
                        background-image: url("../img/boy-face.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 100%;
                    }
                }

                /* Body */
                &:nth-of-type(3) {
                    position: absolute;
                    height: 100%;

                    div {
                        background-image: url("../img/boy-body.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 100%;
                        filter: brightness(calc(0.6 + var(--skin, 3) / 10));
                    }
                }

                /* Hair */
                &:nth-of-type(4) {
                    position: absolute;
                    height: 100%;

                    div {
                        background-image: url("../img/boy-hair-2.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 100%;
                    }
                }
            }
        }
    }

    /* 
        **** Hair input ***
    */
    &:has(input[value="Hair-1"]:checked) {
        > section {
            &:first-of-type {
                section {
                    /* Hair */
                    &:nth-of-type(4) {
                        div {
                            background-image: url("../img/boy-hair-1.svg");
                        }
                    }
                }
            }
        }
    }

    &:has(input[value="Hair-2"]:checked) {
        > section {
            &:first-of-type {
                section {
                    /* Hair */
                    &:nth-of-type(4) {
                        div {
                            background-image: url("../img/boy-hair-2.svg");
                        }
                    }
                }
            }
        }
    }

    &:has(input[value="Hair-3"]:checked) {
        > section {
            &:first-of-type {
                section {
                    /* Hair */
                    &:nth-of-type(4) {
                        div {
                            background-image: url("../img/boy-hair-3.svg");
                        }
                    }
                }
            }
        }
    }

    /* 
        **** Body checked ***
    */
    &:has(input[type="checkbox"]:checked) {
        > section {
            &:first-of-type {
                section {
                    /* Face */
                    &:nth-of-type(2) {
                        div {
                            background-image: url("../img/girl-face.svg");
                        }
                    }

                    /* Body */
                    &:nth-of-type(3) {
                        div {
                            background-image: url("../img/girl-body.svg");
                        }
                    }
                }
            }
        }
    }

    /* 
        **** Body girl + hair ***
    */
    &:has(input[type="checkbox"]:checked) {
        &:has(input[value="Hair-1"]:checked) {
            > section {
                &:first-of-type {
                    section {
                        /* Hair */
                        &:nth-of-type(4) {
                            div {
                                background-image: url("../img/girl-hair-1.svg");
                            }
                        }
                    }
                }
            }
        }

        &:has(input[value="Hair-2"]:checked) {
            > section {
                &:first-of-type {
                    section {
                        /* Hair */
                        &:nth-of-type(4) {
                            div {
                                background-image: url("../img/girl-hair-1.svg");

                                &::before {
                                    content: "";
                                    position: absolute;
                                    background-image: url("../img/girl-hair-2.svg");
                                    background-size: contain;
                                    transform: translateZ(-1px);
                             
                                    width: 248px;
                                    height: 440px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &:has(input[value="Hair-3"]:checked) {
            > section {
                &:first-of-type {
                    section {
                        /* Hair */
                        &:nth-of-type(4) {
                            div {
                                background-image: url("../img/girl-hair-3.svg");
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 
    **** Change clothes ***
*/
@container style(--clothes: 2) {
    body {
        > section {
            &:first-of-type {
                section {
                    &:nth-of-type(1) {
                        div {
                            background-image: url("../img/boy-clothes-1.svg");
                        }
                    }
                }
            }
        }
    }

    /* Body checked */
    &:has(input[type="checkbox"]:checked) {
        body {
            > section {
                &:first-of-type {
                    section {
                        &:nth-of-type(1) {
                            div {
                                background-image: url("../img/girl-clothes-1.svg");
                            }
                        }
                    }
                }
            }
        }
    }
}

@container style(--clothes: 3) {
    body {
        > section {
            &:first-of-type {
                section {
                    &:nth-of-type(1) {
                        div {
                            background-image: url("../img/boy-clothes-2.svg");
                        }
                    }
                }
            }
        }
    }

    /* Body checked */
    &:has(input[type="checkbox"]:checked) {
        body {
            > section {
                &:first-of-type {
                    section {
                        &:nth-of-type(1) {
                            div {
                                background-image: url("../img/girl-clothes-2.svg");
                            }
                        }
                    }
                }
            }
        }
    }
}

@container style(--clothes: 4) {
    body {
        > section {
            &:first-of-type {
                section {
                    &:nth-of-type(1) {
                        div {
                            background-image: url("../img/boy-clothes-3.svg");
                        }
                    }
                }
            }
        }
    }

    /* Body checked */
    &:has(input[type="checkbox"]:checked) {
        body {
            > section {
                &:first-of-type {
                    section {
                        &:nth-of-type(1) {
                            div {
                                background-image: url("../img/girl-clothes-3.svg");
                            }
                        }
                    }
                }
            }
        }
    }
}